<div class="card">
    <div class="card-header">
        <h4>หน้า Pack List</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table *ngIf="packConfirmList.packListForConfirms?.length" class="table table-hover table-striped">
                <thead>
                    <tr class="text-center">
                        <th>No.</th>
                        <th>รหัสสินค้า</th>
                        <th>ชื่อสินค้า</th>
                        <th>Order</th>
                        <th>ISBN</th>
                        <th>Recheck</th>
                        <th>Package</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of packConfirmList.packListForConfirms;let i = index" class="text-center">
                        <td>{{i+1+((page-1)*size)}}</td>
                        <td> {{item.itemCode?item.itemCode:'-'}}</td>
                        <td class="text-left">{{item.dscription?item.dscription:'-'}}</td>
                        <td>{{(item.quantity?item.quantity:'0') | number}}</td>
                        <td>{{item.isbn?item.isbn:'-'}}</td>
                        <td>
                            <input type="text" class="form-control form-control-sm" style="width: 150px !important"
                                [(ngModel)]="item.isbnRecheck" name="isbnRecheck_{{i}}"
                                (change)="updatePackRecheckIsbn(item)">
                        </td>
                        <td class="text-left">
                            <select [(ngModel)]="item.package" class="form-control form-control-sm"
                                style="width: 150px !important" [disabled]="packConfirmList.package !=''"
                                (change)="updatePackRecheckIsbn(item)">
                                <option *ngFor="let package of mainService.packageList;" [ngValue]="package">
                                    {{package}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm" style="width: 50px !important"
                                [(ngModel)]="item.unit" name="unit_{{i}}" min="0"
                                [disabled]="packConfirmList.package !=''" (change)="updatePackRecheckIsbn(item)">
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="w-100 text-center" *ngIf="!packConfirmList.packListForConfirms?.length">
            <span class="mb-3">-- No Data --</span>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped w-25">
            <thead>
                <tr class="text-center">
                    <th colspan="2">Package in Pack Number</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>
                        <select class="form-control form-control-sm" style="width: 150px !important"
                            [(ngModel)]="packConfirmList.package">
                            <option *ngFor="let package of mainService.packageList;" [ngValue]="package">
                                {{package}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control form-control-sm" style="width: 50px !important" min="0"
                            [(ngModel)]="packConfirmList.unit" [disabled]="packConfirmList.package ==''">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary m-1 pull-left" (click)="CreatePack()">
                    <span class="fa fa-floppy-o"></span> Confirm Pack
                </button>
                <button class="btn btn-next m-1" (click)="previousPage()"
                    [disabled]="page==1 || !packConfirmList.packListForConfirms?.length"><span
                        class="fa fa-chevron-left"> </span></button>
                <button class="btn btn-next m-1" (click)="nextPage()"
                    [disabled]="!packConfirmList.packListForConfirms?.length || packConfirmList.packListForConfirms?.length < size"><span
                        class="fa fa-chevron-right"> </span></button>
            </div>
        </div>
    </div>
</div>