<div class="sidebar-logo">
  รายงาน
</div>
<ul class="sidebar-navigation">
  <li class="header">Pick List </li>
  <li>
    <a (click)="goTo('/order-list')">
      <i class="fa fa-home" aria-hidden="true"></i>คำสั่งซื้อ</a>
  </li>
  <li>
    <a (click)="goTo('/pick-list')">
      <i class="fa fa-tachometer" aria-hidden="true"></i>Pick Number</a>
  </li>
  <li class="header">Packing</li>
  <li>
    <a (click)="goTo('/order-pack')">
      <i class="fa fa-inbox" aria-hidden="true"></i>คำสั่ง Pack</a>
  </li>
  <li>
    <a>
      <i class="fa fa-cog" aria-hidden="true"></i>Pack Number</a>
  </li>
  <li>
    <a>
      <i class="fa fa-info-circle" aria-hidden="true"></i>Document Printing</a>
  </li>
  <li>
    <a>
      <i class="fa fa-info-circle" aria-hidden="true"></i>Package Stock</a>
  </li>
  <li class="header">เคลียร์งาน</li>
  <li>
    <a>
      <i class="fa fa-info-circle" aria-hidden="true"></i>ปณ.</a>
  </li>
  <li>
    <a>
      <i class="fa fa-info-circle" aria-hidden="true"></i>Complete</a>
  </li>
</ul>