<div class="card">
  <div class="card-header">
    <h4>หน้า Pick List</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary btn-block" (click)="getPackList()">ค้นหา</button>
      </div>
      <div class="col-sm-5 pl-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Pack Number</span>
          </div>
          <input type="text" class="form-control" name="pickNum" [(ngModel)]="pickNum">
        </div>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>


  <div class="card-body">
    <div>
      <table *ngIf="packList?.length" class="table table-hover table-striped">
        <thead>
          <tr class="text-center">
            <th>No.</th>
            <th>Pack Number</th>

            <th>Total Invoice</th>
            <th class="text-right"> มูลค่า</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of packList;let i = index" class="text-center cursor-pointer"
            (click)="selectPackNumber(item.packNo)">
            <td>{{i+1}}</td>
            <td> {{item.packNo?item.packNo:'-'}}</td>
            <td>{{item.totalDocNum?item.totalDocNum:'0'| number}}</td>
            <td class="text-right">{{(item.totalPrice?item.totalPrice:'0') | number}}</td>
            <td>{{item.status?item.status:'-'}}</td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="w-100 text-center" *ngIf="!packList?.length">
      <span class="mb-3">-- No Data --</span>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button class="btn btn-next m-1" (click)="previousPage()" [disabled]="page==1 || !pickList?.length"><span
            class="fa fa-chevron-left"> </span></button>
        <button class="btn btn-next m-1" (click)="nextPage()"
          [disabled]="!pickList?.length || packList?.length < size"><span class="fa fa-chevron-right"> </span></button>
      </div>
    </div>
  </div>
</div>