<div class="container">
  <div class="row" style="height: 95vh">
    <div class="col my-auto">
      <div class="card card-center" style="width: 34%;box-shadow:5px 5px 3px 0px rgba(235, 235, 235, 1)">
        <div class="card-header text-center bg-white text-black" style="font-size: 1.2rem;padding: 1.5rem 0">
          <b>Member Login</b>
        </div>
        <div class="card-body" style="padding: 3rem 1.25rem">
          <div class="row">
            <div class="col">
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                  </div>
                  <input required type="text" [ngClass]="{'is-invalid': (loginForm.submitted && !loginModel.userName)}"
                    class="form-control" placeholder="Username" aria-label="Username" name="userName"
                    [(ngModel)]="loginModel.userName">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                  </div>
                  <input required type="password"
                    [ngClass]="{'is-invalid': (loginForm.submitted && !loginModel.password)}" class="form-control"
                    placeholder="Password" aria-label="Password" name="password" [(ngModel)]="loginModel.password">
                </div>
                <button type="submit" class="btn btn-primary w-100">LOGIN</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
