<div class="row" style="box-shadow: 5px 5px 3px 0px rgba(235,235,235,1);">
  <div class="col">
    <div class="row" style="border-bottom: solid 0.1rem white">
      <div class="col text-white py-1 bg-primary" style="font-size: 1.1rem;font-weight: bold">รายงาน
      </div>
    </div>
    <div class="row">
      <div class="col py-1" style="cursor: pointer;" (click)="goTo('/order-list')">คำสั่งซื้อ
      </div>
    </div>
    <div class="row">
      <div class="col py-1" style="background: #cdeaff;cursor: pointer;" (click)="goTo('/pick-list')">Pick List</div>
    </div>
    <div class="row">
      <div class="col py-1" style="cursor: pointer;" (click)="goTo('/packing')">Packing</div>
    </div>
    <div class="row">
      <div class="col py-1" style="background: #cdeaff;cursor: pointer;">เคลียร์งาน</div>
    </div>
  </div>
</div>
