<div class="row" style="background-color: #fff;">
  <div class="col-sm-12 p-3">
    <h3>หน้า Pick List</h3>
  </div>
  <div class="col-sm-12 mt-1 p-3">
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary btn-block" (click)="getPickList()">ค้นหา</button>
      </div>
      <div class="col-sm-5 pl-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Pick Number</span>
          </div>
          <input type="text" class="form-control" name="pickNum" [(ngModel)]="pickNum">
        </div>
      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>


  <div class="col-sm-12 mt-1 p-3">
    <div>
      <table *ngIf="pickList?.length" class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Pick Number</th>
            <th class="text-center">Status</th>
            <th class="text-right"> มูลค่า</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pickList;let i = index">
            <td class="text-center">{{i+1}}</td>
            <td style="cursor: pointer" class="text-center" (click)="selectPickNumber(item.pickNo)">
              {{item.pickNo?item.pickNo:'-'}}
            </td>
            <td class="text-center">{{item.status?item.status:'-'}}</td>
            <td class="text-right">{{(item.totalPrice?item.totalPrice:'-') | number}}</td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="w-100 text-center" *ngIf="!pickList?.length">
      <span class="mb-3">-- No Data --</span>
    </div>
  </div>
  <div class="col-sm-6 my-1">
  </div>
  <div class="col-sm-6 my-1 text-right">
    <button class="btn-sm btn-primary" (click)="previousPage()"
      [disabled]="page==1 || !pickList?.length">Previous</button>
    <button class="btn-sm btn-primary ml-1" (click)="nextPage()"
      [disabled]="!pickList?.length || pickList?.length < 10">Next</button>
  </div>
  <div class="col-sm-12 mt-1" *ngIf="pickItemGroup">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>Item Group</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pickItemGroup;let i = index" style="font-size: 0.9rem">
          <td>{{i+1}}</td>
          <td>{{item.itemGrpCode}}</td>
          <td>{{item.itemGrpName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>