<div class="row bg-color-page">
  <div class="col-sm-12 p-3">
    <h3>หน้าคำสั่งซื้อ</h3>
  </div>
  <div class="col-sm-12 mt-1">
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block" (click)="searchData()">ค้นหา</button>
      </div>
      <div class="col-sm-6 pl-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">วันที่จัดส่ง</span>
          </div>
          <input type="date" class="form-control" [(ngModel)]="startDate" name="startDate">
          <input type="date" class="form-control" [(ngModel)]="endDate" name="endDate">
        </div>
      </div>
      <div class="col-sm-4 pl-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">เขตการขาย</span>
          </div>
          <select name="marketArea" id="marketArea" [(ngModel)]="marketArea" class="form-control">
            <option value="" selected>ไม่กำหนด</option>
            <option *ngFor="let area of mainService.regionList" [value]="area">{{area}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">ชื่อ</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="custName" name="custName">
        </div>
      </div>
      <div class="col-sm-4 pl-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">จังหวัด</span>
          </div>
          <select name="province" id="province" [(ngModel)]="province" class="form-control">
            <option value="" selected>ไม่กำหนด</option>
            <option *ngFor="let country of mainService.countryList" [value]="country">{{country}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4 pl-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">เลขที่เอกสาร</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="docNo" name="docNo">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 my-3 p-3">

    <table *ngIf="invoiceList?.length" class="table table-hover">
      <thead>
        <tr class="text-center align-top">
          <th><input type="checkbox" (click)="checkAll()" [ngModel]="checkSelected()"></th>
          <!-- <th class="text-center">ลำดับ</th> -->
          <th>เลขที่เอกสาร</th>
          <th>วันที่จัดส่ง</th>
          <th>ลูกค้า</th>
          <th>ชื่อลูกค้า</th>
          <th>จังหวัด</th>
          <th>เขต</th>
          <th class="text-right">มูลค่า</th>
          <th>Ship to</th>
          <th>ขนส่ง</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of invoiceList;let i = index" class="text-center">
          <td><input type="checkbox" [(ngModel)]="item.isSelected" name="checkbox_{{i}}"></td>
          <!-- <td class="text-center">{{i+1}}</td> -->
          <td>{{item.docNum}}</td>
          <td>{{(item.docDueDate?item.docDueDate:'-') | date:'dd/MM/yyyy'}}</td>
          <td>{{item.cardCode?item.cardCode:'-'}}</td>
          <td>{{item.cardName?item.cardName:'-'}}</td>
          <td>{{item.county?item.county:'-'}}</td>
          <td>{{item.descript?item.descript:'-'}}</td>
          <td nowrap class="text-right">{{(item.price?item.price:'-') | number}}</td>
          <td>{{item.shipToCode?item.shipToCode:'-'}}</td>
          <td>{{item.transporter?item.transporter:'-'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="w-100 text-center" *ngIf="!invoiceList?.length">
      <span class="mb-3">-- No Data --</span>
    </div>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary" (click)="addPickList()" [disabled]="!checkSelected()">
      Add Pick List
    </button>
  </div>
  <div class="col-sm-6 mt-1 text-right ">
    <button class="btn-sm btn-primary" (click)="previousPage()" [disabled]="page==1 || !invoiceList?.length">Previous
    </button>
    <button class="btn-sm btn-primary ml-1 " (click)="nextPage()"
      [disabled]="!invoiceList?.length || invoiceList?.length < 10">Next</button>
  </div>

  <div class="col-sm-12 p-3"></div>
</div>