/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Sarabun", sans-serif;
}

.input-group-text {
  background: white;
  color: black;
  font-size: small;
}
.form-control {
  font-size: small;
}
.bg-color {
  background-color: #f4f6f7;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-primary {
  background-color: #2574a9;
  border: #2574a9;
}
.btn-next {
  background-color: #273746;
  color: whitesmoke;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 14px;
}
.btn-next:hover {
  background-color: gray;
  color: #273746;
}
input[type=checkbox] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
 
}
thead {
  background-color: #273746;
  color: whitesmoke;
}
th {
  font-weight: normal;
  white-space:nowrap;
}
td {
  font-weight: normal;
  white-space:nowrap;
}
