/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Sarabun', sans-serif;
}

.input-group-text {
    background: white;
    color: black;
}
.bg-color{
    background-color: #F4F6F7;
}