<div class="card">
  <div class="card-header">
    <h4>หน้ากลุ่มหนังสือ</h4>
  </div>
  <div class="card-body" *ngIf="pickItemGroup">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="text-center">
          <th>No.</th>
          <th>Item Group</th>
          <th>Description</th>
          <th>Status</th>
     
        </tr>
      </thead>
      <tbody>
        <tr class="text-center cursor-pointer" *ngFor="let item of pickItemGroup;let i = index"
          (click)="selectItemByGroup(item.itemGrpCode)">
          <td>{{i+1}}</td>
          <td>{{item.itemGrpCode}}</td>
          <td>{{item.itemGrpName}}</td>
          <td>{{item.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>